.card {
    width: auto;
    height: auto;
    transition: 0.3s;
    border-radius: 6px;
    overflow: hidden;
    padding: 7px;
    margin: 10px;
}

.card.no-padding {
    padding: 0 !important;
}
.card-white {
    background-color: var(--white);
    color: #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.card-blue {
    background-color: var(--blue);
}

.card-red {
    background-color: var(--red);
}

.card-gray {
    background-color: var(--gray);
    color: var(--white);
}

.card-light {
    background-color: #676767;
}

.card-media > img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: -5px;
}

.card-hover:hover {
    background-color: #b31522;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-subscription {
    position: relative;
    height: 200px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: height .15s ease-out;
}

.card-subscription.expended {
    height: 400px;
}

.card-subscription h2 {
    padding: 75px 0px;
    z-index: 2;
    position: absolute;
    width: 100%;
}
.card-subscription > .card-bubbles {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-subscription-details {
    width: 100%;
    display: block;
    margin-top: 200px;
    position: absolute;
    margin: 200px 0px auto auto ;
}

@media only screen and (min-width: 900px) {
    .card-subscription:not(.expended):hover {
        height: 400px;
        transition: height .3s ease-in;
    }
}

@media only screen and (max-width: 900px) {
    .card-subscription {
        height: 400px;
    }
}