.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 10px;
}

.no-grow {
  min-height: 0;
  min-width: 0;
}

.col {
  overflow: hidden;
  min-width: 0;
}
.row {
  overflow: hidden;
  min-height: 0;
}

.grid > img {
  height: 100%;
  max-width: 100%;
}
.grid > .col-1-s {
  grid-column-start: 1;
}

.grid > .col-2-s {
  grid-column-start: 2;
}

.grid > .col-3-s {
  grid-column-start: 3;
}

.grid > .col-4-s {
  grid-column-start: 4;
}

.grid > .col-5-s {
  grid-column-start: 5;
}

.grid > .col-6-s {
  grid-column-start: 6;
}

.grid > .col-1-e {
  grid-column-end: 1;
}

.grid > .col-2-e {
  grid-column-end: 2;
}

.grid > .col-3-e {
  grid-column-end: 3;
}

.grid > .col-4-e {
  grid-column-end: 4;
}

.grid > .col-5-e {
  grid-column-end: 5;
}

.grid > .col-6-e {
  grid-column-end: 6;
}

.grid > .col-7-e {
  grid-column-end: 7;
}

.grid > .col-center {
  justify-self: center;
}
.grid > .row-1-s {
  grid-row-start: 1;
}

.grid > .row-2-s {
  grid-row-start: 2;
}

.grid > .row-3-s {
  grid-row-start: 3;
}

.grid > .row-4-s {
  grid-row-start: 4;
}

.grid > .row-5-s {
  grid-row-start: 5;
}

.grid > .row-6-s {
  grid-row-start: 6;
}

.grid > .row-1-e {
  grid-row-end: 1;
}

.grid > .row-2-e {
  grid-row-end: 2;
}

.grid > .row-3-e {
  grid-row-end: 3;
}

.grid > .row-4-e {
  grid-row-end: 4;
}

.grid > .row-5-e {
  grid-row-end: 5;
}

.grid > .row-6-e {
  grid-row-end: 6;
}

.grid > .row-7-e {
  grid-row-end: 7;
}

.grid > .row-center {
  justify-self: center;
}
