.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-inner {
  background-color: var(--white);
  margin: 5% auto;
  padding: 20px;
  width: 50%;
  border-radius: 6px;
  color: black;
  animation: show 0.3s;
}
.modal-overlay {
  position: relative;
  min-width: 100%;
  max-width: 400px;
}

.modal-overlay img {
  width: 100%;
  height: auto;
}

.modal-overlay .btn {
  position: absolute;
  top: 80%;
  left: 0;
}

.modal-overlay .btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
@keyframes show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 900px) {
  .modal-inner {
    width: 100%;
    height: 95%;
    padding: 15px;
    border-radius: 6px 6px 0px 0px;
    color: black;
    animation: show 0.3s;
    bottom: 0;
    overflow-y: scroll;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 900px) {
  .modal-inner {
    background-color: var(--white);
    margin: 5% auto;
    padding: 20px;
    width: 50%;
    border-radius: 6px;
    color: black;
    animation: show 0.3s;
  }
}
