nav ul {
  text-align-last: end;
  list-style-type: none;
  margin: 0px 15px 0px 0px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  width: 100%;
}

.icon {
  display: none;
}

nav ul li {
  display: inline-block;
}

nav ul li > a {
  margin: 15px;
  border-radius: 4px;
  display: inline-block;
  color: var(--white);
  text-align: center;
  padding: 15px;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: capitalize;
}

nav ul li > .navigation-btn {
  background-color: var(--red);
  margin: 15px;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
}

nav ul li > .navigation-btn:hover {
  background-color: white;
  color: var(--red);
  font-weight: 700;
}
nav ul li:first-child {
  float: left;
}
nav ul li .navigation-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--red);
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav ul li a {
  position: relative;
}

.navigation-link:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 10px;

  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  background: var(--red);

  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation-link:hover::after {
  width: 80%;
}

nav ul li > .active {
  background-color: var(--red);
}

@media screen and (max-width: 755px) {
  nav ul li:not(:first-child) {
    display: none;
  }
  nav ul li.icon {
    float: right;
    display: block;
  }
  nav ul.responsive {
    position: relative;
  }
  .icon i {
    transform: scale(2.5);
    margin: 25px;
  }
  nav ul.responsive .icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  nav ul.responsive li > i {
    float: none;
    display: block;
    text-align: left;
  }
}
